@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Playwrite GB S", cursive;
    background-color: #222;
}
.card {
    margin: 100px auto 0;
    padding: 40px 35px;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    text-align: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search input {
    padding: 10px 25px;
    margin-right: 10px;
    height: 60px;
    flex: 1;
    font-size: 18px;
    background: #ebfffc;
    color: #555;
    outline: 0;
    border: 0;
    border-radius: 30px;
}
.search button {
    background: #ebfffc;
    outline: 0;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img {
    width: 16px;
}
.weather {
    display: none;
}
.weather-icon   {
    margin-top: 30px;
    width: 170px;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    margin-top: -10px;
    font-size: 45px;
    font-weight: 400;
}
.details {
    padding: 0 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    margin-right: 10px;
    width: 40px;
}
.humidity, .wind {
    margin-top: -6px;
    font-size: 28px;
}

.error {
    margin-left: 10px;
    margin-top: 10px;
    display: none;
    text-align: left;
    font-size: 14px;
}
.ghalib h4 {
    margin-top: 30px;
    text-align: center;
    color: #FFFAE6;
    font-size: 10px;
    font-weight: 400;
    font-family: "Playwrite NZ", cursive;
}
